body {
  background: #E2EDEB;
}

.page-content {
  margin: 60px 0px 60px 0px;
  padding: 40px;
  background: white;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  flex: 0 0 100px;
  font-size: 1rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="text"], input[type="password"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-container {
  text-align: center;
}

input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}

input[type="submit"]:enabled {
  background-color: #007bff;
  cursor: pointer;
}

input[type="submit"]:disabled {
  background-color: darkgray;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input:disabled {
  background: rgb(202, 202, 202);
  color: #797979;
}

.link-container {
  text-align: center;
}

.link-container a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.link-container a:hover {
  text-decoration: underline;
}

.check-duplicate {
  margin-left: 4px;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.hint {
  display: block;
  font-size: 10px;
  margin-top: 4px;
}

.hint-success {
  color: blue;
}

.hint-error {
  color: red;
}

.header {
  padding: 4px;
  margin: 0;
  background: white;
}

.end-form {
  font-size: 14px;
  justify-content: end;
  color: gray;
  display: flex;
}
